body{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;    
}
button{
    width: auto;
    height: 30px;
    color: brown;
    font-weight: bold;
    background-image: linear-gradient(rgb(236, 190, 190), rgb(236, 193, 128));
}
input{
    height: 25px;
    width:200px;
}
#displayarray{
    color: brown;
    font-size: large;
}
table{
    border-collapse: collapse;

}
th, td{
    border: 1px solid brown;
    padding: 5px;
    color: brown;
}
th{
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(252, 191, 147);
}
tr:nth-child(even){
    background-color: rgb(252, 191, 147);
}
th:hover{
    background-color: brown;
    color: burlywood;
}
.arrobjdisplay{
    display: none;
    /* visibility: hidden; */
}
.sortarrobjdisplay{
    display: none;
}